.newjob-container {
    margin: 0;
    padding: 0px;
    z-index: -1;
    height: 90vh;
}

.newjob-container > .row {
    padding: 0;
}

.newjob-grid {
 border-radius: 0;
}

.newjob-form-container {
    /* background-color: aquamarine; */
}

.newjob-form > div {
    margin: 0;
    padding: 0;
}

#newjob-description {
    border-left: solid 2px red;
}

.newjob-submit-btn {
    border: none
}

.newjob-submit-btn:hover {
    background-color: #0080ff;
}